/*=====Bottone per risalire=====*/
.scrollToTopBtn {
    display: none; /*Rende il btn non visibile all'inizio*/
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.842);
    color: white;
    border: none;
    border-radius: 20%;
    padding: 10px;
    transition: ease-in-out 0.3s;
} 

/*=====NavBar=====*/
nav{
    font-size: 20px;
    background-color: white;
}

.navbar-nav .nav-link:hover {
    background-color: rgba(199, 196, 196, 0.216);
}

/*=====Main=====*/

.title{
    font-size: 60px;
    font-weight: bold;
}

.write{
    font-size: 25px;
    color: rgb(161, 156, 156);
    font-weight:normal;
}

.ParagraphTitle{ 
    font-size: 35px;
    font-weight: bold;
}

.SubParagraphTitle{
    font-size: 25px;
    font-weight: bold; 
}

.icon:hover{
    color: rgba(48, 138, 231);
}

div .progress-bar{
    background-color: rgba(48, 138, 231);
}

.education-divider {
    border-top: 5px solid;
    transition: border-color 0.3s ease-in-out;
}

.roundedImg{
    border-radius: 100%; 
    width: 170px; 
    height: 170px;
}

.shdwImg{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.245);
}

.education:hover .education-divider {
    border-color:  rgba(48, 138, 231);
}

.card{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.245);
}

.card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.799); 
}